* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body {
    height: 100%;
    background-color: #fff5f5;
    color: #333;
    box-sizing: border-box;
    overflow-x:hidden;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: rgba(255, 105, 98, 0.4);
    width: 100%;
    z-index: 1000;
}

#brand {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-left: 2%;
    text-decoration: none;
}

#brand img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

#brand h1 {
    color: #ff4d4d;
    font-size: 24px;
    font-weight: bold;
}

#navbar {
    display: flex;
    gap: 25px;
    padding-right: 2%;
}

#navbar a {
    text-decoration: none;
    text-align: center;
    color: #ff4d4d;
    font-weight: 600;
}

#navbar a:hover {
    color: #ff1a1a;
}

#main {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.main-content {
    display: flex;
    align-items: center;
    gap: 50px;
    width: 100%;
    max-width: 1200px;
    margin-left: 2%;
    margin-right: 2%;
}

.main-content h2 {
    font-size: 48px;
    color: #ff4d4d;
    margin-bottom: 20px;
}

.main-content p {
    font-size: 17px;
    margin-bottom: 30px;
    color: #666;
}

.main-content a {
    display: inline-block;
    padding: 12px 25px;
    background-color: #ff4d4d;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    max-width: 40%;
}

.main-content a:hover {
    background-color: #ff1a1a;
}

#main-text {
    flex-basis: 600px;
    flex-grow: 0;
    max-height: 60%;
}

.main-content img {
    width: 40%;
    height: auto;
    object-fit: contain;
}

#organizer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 100%;
    height: 70vh;
    justify-content: space-evenly;

    .title {
        text-align: center;
        color: #ff4d4d;
        text-decoration: none;
        font-size: 1.5vw;
        height: 50vh;
    }

    #panel {
        display: flex;
        display: block;
        height: 14vh;
        width: 150%;
        margin: 0%;
    }

    #embedded-page {
        border: none;
        height: 500%;
        width: 100%;
        margin-right: 4vw;
        margin-left: 4vw;
    }

    .bottom {
        text-align: center;
        line-height: 65vh;
        vertical-align: bottom;
        font-size: 1vw;
    }

    iframe {
        -moz-transform: scale(0.6, 0.6);
        -webkit-transform: scale(0.6, 0.6);
        -o-transform: scale(0.6, 0.6);
        -ms-transform: scale(0.6, 0.6);
        transform: scale(0.6, 0.6);
        -moz-transform-origin: top left;
        -webkit-transform-origin: top left;
        -o-transform-origin: top left;
        -ms-transform-origin: top left;
        transform-origin: top left;
    }
}

#team-report {
    height: 70vh;

    .title {
        text-align: center;
        color: #ff4d4d;
        text-decoration: none;
        font-size: 2.5vw;
    }

    #panel {
        display: flex;
        display: block;
        height: 20vh;
        width: 100%;
        margin: 0%;
    }

    #embedded-page {
        border: none;
        height: 500%;
        width: 130%;
        margin-right: 4vw;
        margin-left: 4vw;
    }

    .bottom {
        text-align: center;
        line-height: 112vh;
        vertical-align: bottom;
        font-size: 2vw;
    }

    iframe {
        -moz-transform: scale(0.7, 0.7);
        -webkit-transform: scale(0.7, 0.7);
        -o-transform: scale(0.7, 0.7);
        -ms-transform: scale(0.7, 0.7);
        transform: scale(0.7, 0.7);
        -moz-transform-origin: top left;
        -webkit-transform-origin: top left;
        -o-transform-origin: top left;
        -ms-transform-origin: top left;
        transform-origin: top left;
    }
}

#showcase-header {
    text-align: center;
    font-size: 48px;
    color: #ff4d4d;
    margin-bottom: 20px;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

#project-header {
    text-align: center;
    font-size: 48px;
    color: #ff4d4d;
    margin-bottom: 20px;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

/**/
#about-header {
    text-align: center;
    font-size: 48px;
    color: #ff4d4d;
    margin-bottom: 20px;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

@media (max-width: 768px) {
    .main-content {
        flex-direction: column;
    }

    .main-content img {
        width: 70%;
    }

    #main-text {
        flex-basis: content;
        text-align: center;
        align-items: center;
    }

    .main-content a {
        width: 100%;
    }

    #organizer {
        display: inline;
    }
}

@media (max-width: 480px) {
    #header {
        flex-direction: column;
        height: auto;
        gap: 10px;
        padding-top: 2%;
        padding-bottom: 2%;
    }
}

.report-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px;
    padding-top: 60px;
}

.report-link {
    font-size: 20px;
    font-weight: bold;
    color: #ff4d4d;
}

.report-img {
    padding: 45px;
    max-width: 100%;
    height: auto;
}

.report-title {
    color: #ff4d4d;
    font-size: 48px;
    font-weight: bold;
}

.report-section {
    padding: 15px;
}

.section-title {
    color: #ff4d4d;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 5px;
}

.section-paragraph {
    color: #666;
    font-size: 17px;
}

.align-left {
    text-align: left;
}

/*
About Page
*/

.about-pfp {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #333;
}


#about-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 90px;
    padding: 20px;
}

.about-person {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 250px;
    gap: 10px;
}

.about-person h1 {
    margin-top: 15px;
    margin-bottom: 10px;
}

.about-person p {
    margin: 0;
}

#footer {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    position: fixed;
    top: 98%;
    bottom: 0px; 
    text-align: center;
    background-color: rgba(255, 105, 98, 0.4);
    color: #ff4d4d;
    padding: 0%;
    vertical-align: bottom;
    
}